<h1 mat-dialog-title>Add User</h1>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" matInput placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input formControlName="name" matInput placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        type="password"
        formControlName="password"
        matInput
        placeholder="Placeholder"
      />
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="save()">
    {{ actionBtn }}
  </button>

  <button class="close" mat-raised-button color="warn">Close</button>
</div>
